@import url('../../vendor/fonts.css');
.footer
{
    font-family: 'RobotoSlab', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0 104px;
}

.footer__credentional
{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(182, 188, 191, 1);
}

.footer__container
{
    display: inline-flex;
    
    justify-content: space-between;
    align-items: center;
    gap: 20px
}

.footer__link
{
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;

    text-decoration: none;
    color: inherit;
    text-align: center;
}

.footer__link-img
{
    
    width: 24px;
    height: 24px;
}

.footer__icon-container
{
    display: inline-flex;
    gap: 20px
}
.footer__link-container
{
    display: inline-flex;
    gap: 20px
}

@media (max-width: 680px) {
    .footer
    {
        
        padding: 0 40px;
    }
}

@media (max-width: 480px) {
    .footer
    {
        padding: 0 16px;
        flex-direction: column-reverse;
    }
    .footer__container
    {
        padding: 0 16px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }
    .footer__link-container
    {
        display: flex;
        flex-direction: column;
        
        align-items: start;
    }
}